:root {
    /* Light Mode Colors */
    --primary-color: #333333;
    --secondary-color: #FFFFFF;
    --tertiary-color: #FFB03B;
    --accent-blue: #1A8FE3;
    --accent-pink: #FF66A3;
    --accent-pink-lighter: #f778ab;
    --off-white: #EFEFEF;
    --light-gray: #F7F7F7;

    /* Dark Mode Colors */
    --primary-color-dark: #FFB000;
    --secondary-color-dark: #00796B;
    --tertiary-color-dark: #FF7043;
    --accent-blue-dark: #9C27B0;
    --accent-pink-dark: #00ACC1;
    --off-white-dark: #1E1E1E;
    --light-gray-dark: #333333;
}

.website-section {
    padding: 30px;
}

.navbar {
    background-color: var(--accent-pink);
    transition: top 1000ms ease;
}

.navbar-dark {
    background-color: var(--accent-pink-dark);
}

.form-switch {
    visibility: hidden;
}

.scroll-down {
    top: -1%;
    bottom: 93%;
    transition: 500ms ease;
}

.navbar .navbar-brand {
    padding-left: 15px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.8rem;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    transition: top 1000ms ease;
}

.navbar .navbar-brand-dark {
    color: var(--primary-color-dark);
}

.nav-link {
    visibility: hidden;
}

.nav-overlay {
    padding-top: 80px;
    transition: top 500ms ease;
    background-color: var(--accent-pink-lighter);
    padding-bottom: 10px;
}

.nav-overlay a {
    color: var(--secondary-color);
    transition: color 0.5s;
}

.nav-overlay ul {
    list-style-type: none;
}

.nav-overlay a:hover {
    color: var(--tertiary-color);
    transition: color 0.5s;
}

.hidden {
    display: none;
    transition: top 500ms ease;
}

.nav-overlay a {
    cursor: pointer;
}

.menu-container {
    position: absolute;
    cursor: pointer;
    margin-left: 90%;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--primary-color);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbar {
    max-height: 70px;
}

@media (min-width: 768px) {
    .form-switch {
        visibility: visible;
        margin-right: 3%;
    }

    .website-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu-container {
        display: none;
    }

    .navbar .navbar-brand:hover {
        color: transparent;
        transition: 300ms ease;
    }

    .navbar .nav-link {
        visibility: visible;
        color: var(--secondary-color);
        transition: color 0.5s;
    }

    .nav-link-dark {
        color: var(--accent-pink);
    }

    .navbar .nav-link:hover {
        color: var(--tertiary-color);
    }
}

.about-me {
    background-color: var(--off-white);
}

.about-me-dark {
    background-color: var(--off-white-dark) !important;
}

.about-me-dark h3,
.about-me-dark p {
    color: var(--off-white) !important;
}

.collapsed {
    margin-top: 60px;
}

.about-me p {
    padding-left: 20px;
}

#profile-pic {
    border-radius: 50%;
    max-height: 15em;
}

.code-samples {
    background-color: var(--light-gray);
}

.code-samples-dark {
    background-color: var(--light-gray-dark) !important;
}

.code-samples-dark h3,
.code-samples-dark h5,
.code-samples-dark h6,
.code-samples-dark p {
    color: var(--off-white) !important;
}

.code-samples-dark .card {
    background-color: var(--off-white-dark) !important;
}

.code-samples-container {
    padding: 30px;
}

.code-samples .card {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.skills {
    background-color: var(--off-white);
    min-height: 200px;
}

.skills-dark {
    background-color: var(--off-white-dark) !important;
}

.skills-dark h3 {
    color: var(--off-white) !important;
}

.skills .skills-container {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: var(--accent-blue);
    font-size: 50px;
}

.skills-container .skills-dark {
    color: var(--accent-blue-dark) !important;
}

.contact {
    background-color: var(--light-gray);
}

.contact-dark {
    background-color: var(--light-gray-dark);
}

.contact p {
    padding-left: 20px;
}

.contact-dark p,
.contact-dark h3 {
    color: var(--off-white);
}

.contact a {
    text-decoration: none;
    color: var(--accent-blue);
    font-size: 30px;
    transition: color 0.5s;
}

.contact a:hover {
    color: var(--tertiary-color);
}